<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col col_3">
                    <div class="box">

                        <form action="/post/login" method="post">

                            <img src="/image/logo.svg" alt="">


                            <div class="inputDiv">
                                <label for="">welcome Back!</label>
                            </div>


                            <div class="inputDiv">
                                <label>Email:</label>
                                <input type="email" name="email" placeholder="Email" />
                            </div>

                            <div class="inputDiv">
                                <label>Password:</label>
                                <input type="password" name="password" placeholder="Password" />
                            </div>

                            <div class="inputDiv">
                                <p>Forgot Password <span><a href="">click here</a></span></p>
                            </div>

                            <div class="inputDiv ">
                                <input class="greenBtn" type="submit" value="Login">
                                
                            </div>

                        </form>
                        <div class="buttomLink">
                            <p>Do not have account <span><a href="/get/Registration">Registration Here</a></span></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="buttomLogo">
                <img src="/image/bottom-logo.png" alt="">
            </div>
        </div>
</body>
</html>
